<section class="section events-section">
  <div class="container events-container">
    <div class="events__header">
      <h1 class="events__heading">EVENTS</h1>
      <select class="events__type-select" (ngModelChange)="getEventType($event)" [ngModel]="eventType">
        <option *ngFor="let option of eventOptions" [ngValue]="option.value">
          {{option.label}}
        </option>
      </select>
    </div>
    <div *ngIf="artistEvent.length == 0 && !loading" class="row events__no-results">
      <h2>No Events found. Please update search criteria.</h2>
    </div>
    <div *ngIf="artistEvent.length != 0 && !loading">
      <div class="row events-container">
        <article *ngFor="let event of artistEvent" class="col-md-6 event-card">
          <div class="event-card__event-box box">
            <div class="event-card__date box">
              <div class="date-inner">
                <strong class="event-card__day">{{event.datetime | timestamp: 'day'}}</strong>
                <span class="event-card__month">{{event.datetime | timestamp: 'month'}}</span>
              </div>
            </div>
            <div class="event-card__detail box">
              <div class="event-card__text">
                <span class="event-card__desc">Live music event at</span>
                <h4 class="event-card__venue"><a class="event-card__venue--name">{{event.venue.name}}</a></h4>
                <ul class="event-card__list">
                  <li class="event-card__list-item">
                    <i class="fa fa-calendar"></i>
                    <p class="event-card__full-date">
                      {{event.datetime | date: 'fullDate'}}<br>
                      {{event.datetime | date: 'mediumTime'}}
                    </p>
                  </li>
                  <li class="event-card__list-item">
                    <i class="fa fa-location-arrow"></i>
                    <p class="event-card__address">
                      {{event.venue.city}}<br>
                      {{event.venue.region}}, {{event.venue.country}}
                    </p>
                  </li>
                </ul>
                <a class="event-card__ticket-btn" target="_blank">Tickets</a>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
    <app-loader *ngIf="loading"></app-loader>
  </div>
</section>
